node_modules/
*.png
*.jpg
!assets/**
!screenshots/**
extracted_downloads/
*.ps1
*.py
audit_*.js
inspect_*.js
render_*.js
extract_*.js
generate_*.js
test_*.js
crop_*.js
balance_*.js
refine_*.js
download_*.js
search_*.js
create_*.js
prepare_*.js
process_*.js
take_*.js
wait_for_deploy.js
analyze_*.js
deep_inspect_*.js
capture_*.js
organize_*.js
make_*.js
get_*.js
ffmpeg_*.js

